<% content_for :title do %>
    Show Role
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_core.backend_roles_path %>" class="breadcrumb-item">Roles</a>
    <span class="breadcrumb-item active">Show</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Role</span>: <%= @role.name %></h4>
<% end %>

<div class="card">
    <div class="card-header bg-transparent header-elements-inline">
        <h5 class="card-title">Policy Setting</h5>
        
        <div class="header-elements">
            <a href="#" class="btn bg-blue mr-3 add-policy-button">Add Policy</a>
            
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div class="d-md-flex">
            <ul class="nav nav-tabs nav-tabs-vertical flex-column mr-md-3 wmin-md-200 mb-md-0 border-bottom-0">
                <li class="nav-item"><a href="#vertical-left-tab1" class="nav-link active" data-toggle="tab"><i class="icon-menu7 mr-2"></i> Active</a></li>
                <li class="nav-item"><a href="#vertical-left-tab2" class="nav-link" data-toggle="tab"><i class="icon-mention mr-2"></i> Inactive</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-cog5 mr-2"></i> Dropdown</a>
                    <div class="dropdown-menu">
                        <a href="#vertical-left-tab3" class="dropdown-item" data-toggle="tab">Dropdown tab</a>
                        <a href="#vertical-left-tab4" class="dropdown-item" data-toggle="tab">Another tab</a>
                    </div>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="vertical-left-tab1">
                    Basic vertical tabs with left nav using <code>.nav-tabs-vertical</code> class.
                </div>

                <div class="tab-pane fade" id="vertical-left-tab2">
                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin.
                </div>

                <div class="tab-pane fade" id="vertical-left-tab3">
                    DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever.
                </div>

                <div class="tab-pane fade" id="vertical-left-tab4">
                    Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet.
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <h6 class="media-title font-weight-semibold text-blue">Project Management</h6>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Projects</label>
                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-list" checked>
                        <label class="custom-control-label position-static" for="project-list">List</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-create">
                        <label class="custom-control-label position-static" for="project-create">Create</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-update">
                        <label class="custom-control-label position-static" for="project-update">Update</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-delete">
                        <label class="custom-control-label position-static" for="project-delete">Delete</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-view">
                        <label class="custom-control-label position-static" for="project-view">View details</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-logs">
                        <label class="custom-control-label position-static" for="project-logs">Logs</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-activate">
                        <label class="custom-control-label position-static" for="project-activate">Activate</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-deactivate">
                        <label class="custom-control-label position-static" for="project-deactivate">De-activate</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Types</label>
                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-list" checked>
                        <label class="custom-control-label position-static" for="project-list">List</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-create">
                        <label class="custom-control-label position-static" for="project-create">Create</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-update">
                        <label class="custom-control-label position-static" for="project-update">Update</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-delete">
                        <label class="custom-control-label position-static" for="project-delete">Delete</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-view">
                        <label class="custom-control-label position-static" for="project-view">View details</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-logs">
                        <label class="custom-control-label position-static" for="project-logs">Logs</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-activate">
                        <label class="custom-control-label position-static" for="project-activate">Activate</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-deactivate">
                        <label class="custom-control-label position-static" for="project-deactivate">De-activate</label>
                    </div>
                </div>
            </div>
        </div>
        
        <h6 class="media-title font-weight-semibold text-blue">Contact Management</h6>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Contacts</label>
                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-list" checked>
                        <label class="custom-control-label position-static" for="project-list">List</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-create">
                        <label class="custom-control-label position-static" for="project-create">Create</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-update">
                        <label class="custom-control-label position-static" for="project-update">Update</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-delete">
                        <label class="custom-control-label position-static" for="project-delete">Delete</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-view">
                        <label class="custom-control-label position-static" for="project-view">View details</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-logs">
                        <label class="custom-control-label position-static" for="project-logs">Logs</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-activate">
                        <label class="custom-control-label position-static" for="project-activate">Activate</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-deactivate">
                        <label class="custom-control-label position-static" for="project-deactivate">De-activate</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Groups</label>
                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-list" checked>
                        <label class="custom-control-label position-static" for="project-list">List</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-create">
                        <label class="custom-control-label position-static" for="project-create">Create</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-update">
                        <label class="custom-control-label position-static" for="project-update">Update</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-delete">
                        <label class="custom-control-label position-static" for="project-delete">Delete</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-view">
                        <label class="custom-control-label position-static" for="project-view">View details</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-logs">
                        <label class="custom-control-label position-static" for="project-logs">Logs</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-activate">
                        <label class="custom-control-label position-static" for="project-activate">Activate</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-deactivate">
                        <label class="custom-control-label position-static" for="project-deactivate">De-activate</label>
                    </div>
                </div>
            </div>
        </div>
        
        <h6 class="media-title font-weight-semibold text-blue">Employee Management</h6>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Users</label>
                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-list" checked>
                        <label class="custom-control-label position-static" for="project-list">List</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-create">
                        <label class="custom-control-label position-static" for="project-create">Create</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-update">
                        <label class="custom-control-label position-static" for="project-update">Update</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-delete">
                        <label class="custom-control-label position-static" for="project-delete">Delete</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-view">
                        <label class="custom-control-label position-static" for="project-view">View details</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-logs">
                        <label class="custom-control-label position-static" for="project-logs">Logs</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-activate">
                        <label class="custom-control-label position-static" for="project-activate">Activate</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-deactivate">
                        <label class="custom-control-label position-static" for="project-deactivate">De-activate</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="d-block font-weight-semibold">Roles</label>
                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-list" checked>
                        <label class="custom-control-label position-static" for="project-list">List</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-create">
                        <label class="custom-control-label position-static" for="project-create">Create</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-update">
                        <label class="custom-control-label position-static" for="project-update">Update</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-delete">
                        <label class="custom-control-label position-static" for="project-delete">Delete</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-view">
                        <label class="custom-control-label position-static" for="project-view">View details</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-logs">
                        <label class="custom-control-label position-static" for="project-logs">Logs</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-activate">
                        <label class="custom-control-label position-static" for="project-activate">Activate</label>
                    </div>

                    <div class="custom-control custom-control-right custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="project-deactivate">
                        <label class="custom-control-label position-static" for="project-deactivate">De-activate</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>