<div class="dropdown-content-body dropdown-scrollable">
    <ul class="media-list">
        <% @notifications_users.each do |notifications_user| %>
            <li class="media">
                <div class="mr-3 position-relative">
                    <img src="<%= notifications_user.notification.user.avatar.present? ? notifications_user.notification.user.avatar.system : url_for("/gns_ux/assets/backend/global/images/placeholders/placeholder.jpg") %>"
                        width="40" height="40" class="rounded-circle" alt=""
                    >
                </div>

                <div class="media-body">
                    <a href="#">
                        <div class="media-title">
                            <span class="text-info"><%= notifications_user.notification.user_name %></span>
                            <span class="text-muted float-right font-size-sm">
                                <%= time_ago_in_words(notifications_user.notification.created_at) %>
                            </span>
                        </div>

                        <span class="text-grey-600">
                            <%= t(notifications_user.notification.phrase, notifications_user.notification.get_data.attributes.symbolize_keys) %>
                        </span>
                    </a>
                </div>
            </li>
        <% end %>
    </ul>
</div>