<% content_for :title do %>
    Add Contact Person
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            $('.add_exist').submit(function(e) {
                e.preventDefault();
                
                var form = $(this);
                
                // clear modal
                add_subcontact_modal.clear();
                
                $.ajax({
                    url: form.attr('action'),
                    method: form.attr('method'),
                    data: form.serialize() + '&layout=modal',
                }).done(function(response) {
                    // do something
                    if (typeof(addSubContactCallback) !== 'undefined') {
                        addSubContactCallback(response);
                    }
                });
                
                return false;
            });
        });
    </script>
<% end %>

<div class="row">
    <div class="col-lg-12 col-md-12">
        
        <% if @contact.errors.any? %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">Oh snap!</span> Check a few things up (below) and try submitting again.
            </div>
        <% end %>
        
        <div class="card mb-0">
            <div class="card-body">
                <%= form_for '', url: gns_contact.add_subcontact_backend_contacts_path, html: {multipart: false, class: 'add_exist'} do |f| %>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group mb-0">
                                <select class="form-control select-ajax"
                                    data-container-css-class="font-weight-semibold"
                                    data-placeholder="Choose contact person (sub-contact)"
                                    data-url="<%= gns_contact.select2_backend_contacts_path(exclude_self_children_of_contact_id: @contact.id) %>"
                                    name="contact_id"
                                >
                                </select>
                                <% if @child_contact.errors.full_messages_for(:contact_id).present? %>
                                    <span class="form-text text-danger"><%= @child_contact.errors.full_messages_for(:contact_id).join('<br/>').html_safe %></span>
                                <% end %>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>