<% content_for :title do %>
    Editing Contact
<% end %>

<% content_for :breadcrumb do %>
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="#" class="breadcrumb-item">Contacts</a>
    <span class="breadcrumb-item active">Edit</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Contact</span> - Editing: <%= @contact.full_name %></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary" href="<%= gns_contact.new_backend_contact_path %>">
        <b><i class="icon-plus22"></i></b> Thêm mới
    </a>
<% end %>

<div class="row">
    <div class="col-lg-7 col-md-12">
        
        <% if @contact.errors.any? %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">Oh snap!</span> Check a few things up (below) and try submitting again.
            </div>
        <% end %>
        
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Details</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <%= render 'form', contact: @contact %>
            </div>
        </div>
        
    </div>
</div>