<% content_for :title do %>
    Contact Management
<% end %>

<% content_for :breadcrumb do %>
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item active">Contacts</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Contact</span></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary" href="<%= gns_contact.new_backend_contact_path %>">
        <b><i class="icon-plus22"></i></b> Thêm mới
    </a>
<% end %>

<!-- Datatable -->
<div class="card datalist"
    data-url="<%= gns_contact.list_backend_contacts_path %>"
>
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Contact list</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    
    <form class="datalist-filters">
        <div class="card-body pb-0">    
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select name="state_id" data-placeholder="Select a State..." class="form-control select-search select" data-fouc>
                            <option></option>
                            <option value="AZ">Arizona</option>
                            <option value="CO">Colorado</option>
                            <option value="ID">Idaho</option>
                            <option value="WY">Wyoming</option>
                            <option value="AL">Alabama</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select name="types[]" data-placeholder="Select types..." class="form-control select" multiple="multiple" data-fouc>
                            <option value="customer">Customer</option>
                            <option value="supplier">Supplier</option>
                            <option value="agent">Agent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group flex">                            
                        <select name="sort_by" data-placeholder="Sort by..." class="form-control select select-not-search-field" data-fouc>
                            <option value="created_at">Created at</option>
                            <option value="full_name">Contact code</option>
                            <option value="full_name">Contact name</option>
                        </select>
                        <input class="sort-direction" type="hidden" name="sort_direction" value="desc" />
                    </div>
                </div>
                <div class="col-md-1 text-right">
                    <span class="btn btn-primary mb-3 datalist-search-button">Go</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="datalist-header flex space-between">
                <div class="keyword-search">
                    <input class="form-control keyword-input" name="keyword" type="search" placeholder="Type to filter...">
                </div>
                <div class="show-per-page text-right text-nowrap flex align-center">
                    <span class="mr-2">Per page:</span>
                    <select name="per_page" class="form-control select select-not-search-field per-page-select">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div class="table-responsive datalist-content">
            
        </div>
    </form>
</div>