<% content_for :title do %>
    Show Contact
<% end %>

<% content_for :breadcrumb do %>
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="#" class="breadcrumb-item">Contacts</a>
    <span class="breadcrumb-item active">Show</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-address-book mr-2"></i> <span class="font-weight-semibold">Contact</span> - Show: <%= @contact.full_name %></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary" href="<%= gns_contact.new_backend_contact_path %>">
        <b><i class="icon-plus22"></i></b> Thêm mới
    </a>
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            // Select2 ajax
            $('.select-ajax-district').each(function() {
                var url = $(this).attr('data-url');
                
                $(this).select2({
                    ajax: {
                        url: url,
                        dataType: 'json',
                        data: function (params) {
                            console.log(params);
                            var query = {
                                q: params.term,
                                page: params.page,
                                type: 'public',
                                state_id: $('select[name=state_id]').select2('val')
                            }
                      
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        }
                    }
                }); 
            });     
        });
    </script>
<% end %>

<div class="row">
    <div class="col-md-12">
        
        <%= render "general_infomation" %>
        
        <div class="card">
          
            <%= render "contact_menu", title: 'Project List' %>
            
            <div class="card-body">
                <div class="alert alert-info">
                    Coming soon!
                </div>
            </div>
        </div>
    </div>
</div>