<!-- Page header -->
<div class="page-header page-header-light">
    <!-- Top breadcrumb line -->
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="#" class="breadcrumb-item">Contact</a>
                <span class="breadcrumb-item active">Edit</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
    <!-- /breadcrumb line -->
    
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Contact</span> - Edit: Nguyen Ton Hung</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        
        <div class="header-elements d-none">
            <a href="#" class="btn btn-primary"><b><i class="icon-plus22"></i></b> Thêm mới</a>
        </div>
    </div>
</div>
<!-- /page header -->