<%= yield :page_script %>

<div class="modal-header pb-2">
    <h5 class="modal-title"><%= yield :title %></h5>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body" style="background: #eee">
    <%= yield %>
</div>