<% content_for :title do %>
    Add authorization
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            $('.add_authorization_project').submit(function(e) {
                e.preventDefault();                
                var form = $(this);
                
                // clear modal
                add_authorization_modal.clear();
                
                $.ajax({
                    url: form.attr('action'),
                    method: form.attr('method'),
                    data: form.serialize() + '&layout=modal',
                }).done(function(response) {
                    if (typeof(response.status) !== 'undefined') {
                      showNotification(response.status, response.message);
                      add_authorization_modal.hide();
                      // load authorization list
                      authorization_list_box.load();
                    } else {
                      add_authorization_modal.renderHtml(response);
                    }
                });
                
                return false;
            });
        });
    </script>
<% end %>

<div class="card">
    <div class="card-body">
        <%= form_for '', url: gns_project.add_authorization_backend_projects_path(project_id: @project.id), html: {multipart: false, class: 'add_authorization_project'} do |f| %>
            <%= render 'form_authorization', project_employee: @project_employee %>
            
            <div class="text-left">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        <% end %>
    </div>
</div>