<% if @category.stages.empty? %>
    <div class="card-body">
        <p class="text-center text-warning">
            There are no stage
        </p>
    </div>
<% else %>
    <table class="table">
        <thead>
            <tr>
                <th>Stage name</th>
                <th>Description</th>
                <th class="text-center" style="width: 100px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @category.stages.each do |stage| %>
                <tr>
                    <td><%= stage.name %></td>
                    <td></td>
                    <td class="text-center">
                        <div class="list-icons">
                            <a class="list-icons-item mr-2" title="Insert below"
                                href="#">
                                <i class="icon-plus-circle2"></i>
                            </a>
                            
                            <a class="list-icons-item edit-stage-button" title="Update stage"
                               href="<%= gns_project.edit_backend_stage_path(stage) %>">
                                <i class="icon-pencil7"></i>
                            </a>
        
                            <a class="list-icons-item" title="Remove stage"
                               href="#">
                                <i class="icon-bin"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>