<% content_for :title do %>
    Edit Employee
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="<%= gns_employee.backend_employees_path %>" class="breadcrumb-item">Employees</a>
    <span class="breadcrumb-item active">Edit</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-users mr-2"></i> <span class="font-weight-semibold">Employee</span> - <%= @employee.name %></h4>
<% end %>

<% content_for :page_script do %>
    <script>
        $(document).ready(function() {
            $('.edit_employee').submit(function(e) {
                e.preventDefault();
                
                var form = $(this);
                var formData = new FormData($(this)[0]);
                formData.append('layout', 'modal');
                
                // clear modal
                employee_modal.clear();
                
                $.ajax({
                    url: form.attr('action'),
                    method: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                }).done(function(response) {
                    // do something
                    if (typeof(updateEmployeeCallback) !== 'undefined') {
                        updateEmployeeCallback(response);
                    }
                });
                
                return false;
            });
        });
    </script>
<% end %>

<div class="row">
    <div class="col-lg-12 col-md-12">
        
        <% if @employee.errors.any? %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">Oh snap!</span> Check a few things up (below) and try submitting again.
            </div>
        <% end %>
        
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Details</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <%= render 'form', employee: @employee %>
            </div>
        </div>
        
    </div>
</div>