<% content_for :title do %>
    Employee Management
<% end %>

<% content_for :breadcrumb do %>
    <a href="<%= gns_core.root_path %>" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item active">Employees</span>
<% end %>

<% content_for :page_title do %>
    <h4><i class="icon-users mr-2"></i> <span class="font-weight-semibold">Employee</span></h4>
<% end %>

<% content_for :page_toolbar do %>
    <a class="btn btn-primary add-employee-button" href="<%= gns_employee.new_backend_employee_path %>">
        <b><i class="icon-plus22"></i></b> Create Employee
    </a>
<% end %>

<% content_for :page_script do %>
    <script>
        var employee_modal = new gModal({size: 'md'});
        var updateEmployeeCallback;
        var newEmployeeCallback;
        
        $(function() {            
            $('.add-employee-button').click(function(e) {
                e.preventDefault();
                var button = $(this);
                
                employee_modal.load(button.attr('href'));
                
                newEmployeeCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // hide modal
                        employee_modal.hide();
                        
                        datalists[$('.datalist-employees').attr('data-id')].refresh();          
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        employee_modal.renderHtml(response);
                    }
                };
            });
            
            $(document).on('click', '.edit-employee-button', function(e) {
                e.preventDefault();
                
                var button = $(this);
                
                // load modal edit category
                employee_modal.load(button.attr('href'));
                
                // after update employee event
                updateEmployeeCallback = function(response) {
                    if (typeof(response.status) !== 'undefined') {
                        showNotification(response.status, response.message);
                        // hide modal
                        employee_modal.hide();
                        
                        datalists[button.closest('.datalist').attr('data-id')].refresh();
                    } else if (typeof(response.redirect) !== 'undefined') {
                        window.location = response.redirect;
                    } else {
                        // validation error
                        employee_modal.renderHtml(response);
                    }           
                };
                    
            });
        });
    </script>
<% end %>
<!-- Datatable -->
<div class="card datalist datalist-employees"
    data-url="<%= gns_employee.list_backend_employees_path %>"
>
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Employee list</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    
    <form class="datalist-filters">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select name="active" data-placeholder="Filter by status..."
                            class="form-control selectAllowClear" data-fouc>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-md-6 text-right">
                    <span class="btn btn-primary mb-3 datalist-search-button">Go</span>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <div class="datalist-header flex space-between">
                <div class="text-left text-nowrap flex">
                    <div class="keyword-search flex align-center mr-3">
                        <input class="form-control keyword-input" name="keyword" type="search" placeholder="Type to filter...">
                    </div>
                    <div class="flex align-center">
                        <span class="mr-1">Show columns:</span>
                        <select name="show_columns[]" class="form-control multiselect show-columns-select" multiple="multiple">
                            <option value="code" selected>Code</option>
                            <option value="name" selected>Name</option>
                            <option value="department" selected>Department</option>
                            <option value="position" selected>Position</option>
                            <option value="labor_contract_type" selected>Labor Contract Type</option>
                            <option value="starting_date">Starting Date</option>
                            <option value="phone">Telephone</option>
                            <option value="mobile">Mobile</option>
                            <option value="email">Email</option>
                            <option value="address" selected>Address</option>
                            <option value="status" selected>Status</option>
                            <option value="created_at" selected>Created at</option>
                            <option value="updated_at">Updated at</option>
                        </select>
                    </div>
                </div>
                <div class="text-right text-nowrap flex">
                    <div class="sort-by-box flex align-center mr-3">
                        <span class="mr-1">Sort by:</span>
                        <select name="sort_by" data-placeholder="Sort by..." class="form-control selectPrimary sort-by-select">
                            <option value="created_at">Created Date</option>
                            <option value="code">Code/ID</option>
                            <option value="name">Name</option>
                            <option value="starting_date">Starting Date</option>
                        </select>
                        <input class="sort-direction" type="hidden" name="sort_direction" value="desc" />
                    </div>
                    <div class="show-per-page flex align-center">
                        <span class="mr-1">Per page:</span>
                        <select name="per_page" class="form-control selectPrimary per-page-select">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="table-responsive datalist-content">
            
        </div>
    </form>
</div>