<!-- Dashboard content -->
<div class="row">
    <div class="col-xl-8">
        <%= render 'todo_list' %>
        <%= render 'wait_for_approval' %>
    </div>
    
    <div class="col-xl-4">
        <%= render 'waiting_projects' %>
        <%= render 'recent_activities' %>
    </div>
</div>