<div class="tab-pane fade" id="tabLogs">
    <div class="card-group-control card-group-control-left" id="accordion-control">

        <div class="pt-2 pb-2 permissions-box">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <h6 class="card-title mb-1">
                    <a data-toggle="collapse" class="text-default text-uppercase text-blue-800"
                       href="#gnsProject-logs">Logs (Project/Attached)
                    </a>
                </h6>
                <div>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_on">Select all</button>
                    <i class="icon-primitive-dot text-muted font-size-sm"></i>
                    <button type="button" class="btn btn-link p-0 select_all_permissions_off">Deselect all</button>
                </div>
            </div>
            
            <div id="gnsProject-logs" class="collapse show">
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <td class="wmin-md-200">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.logs.read]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.logs.read]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.logs.read"
                                        <%= 'checked' if @role.has_permission?('gns_project.logs.read') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.logs.read">View logs</label>
                                </div>
                            </td>
                            <td>Allow users to <b>view logs</b> of projects/tasks/attachments</td>
                        </tr>
                        <tr>
                            <td class="wmin-md-200">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" name="permissions[gns_project.logs.download]" value="false">
                                    <input type="checkbox" name="permissions[gns_project.logs.download]" value="true"
                                        class="custom-control-input"
                                        id="gns_project.logs.download"
                                        <%= 'checked' if @role.has_permission?('gns_project.logs.download') %>
                                    >
                                    <label class="custom-control-label font-weight-semibold" for="gns_project.logs.download">Download logs</label>
                                </div>
                            </td>
                            <td>Allow users to <b>download</b> the attachment of the log</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>