<table class="table">
    <thead>
        <tr class="alpha-primary">
            <th>No.</th>
            <th>Document</th>
            <th>Update Date</th>
            <th>Change Description</th>
            <th>Changed By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% (1..3).each_with_index do |history,index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td>Bản vẽ số 1</td>
                <td><%= Time.now.strftime("%d/%m/%Y") %></td>
                <td>Chinh noi dung A</td>
                <td>Nguyen Van A</td>
                <td>
                    <div class="list-icons">                        
                        <a class="list-icons-item" title="Download attachment"
                           href="#">
                            <i class="icon-download"></i>
                        </a>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>